{% extends "layout.html" %}

{% block content %}
  <div class="form-wrapper">

    <h1>Request a Service</h1>

    <form method="POST" action="{{url_for('jobs.create_view')}}">
      {{ form.csrf_token }}
      
      <div class="form-group">
        <label for="cust_name">Customer Name</label>
        {{form.cust_name(class_="form-control")}}
      </div>
      
      <div class="form-group">
        <label for="contact_num">Contact Number</label>
        {{form.contact_num(class_="form-control", type="tel", placeholder="04-1111 1111")}}
      </div>

      <div class="form-group">
        <label for="job_requested">Service Required</label>
        {{form.job_requested(class_="form-control")}}
      </div>

      <div class="form-group">
        <label for="job_date">Date</label>
        {{form.job_date(class_="form-control", type="date")}}
      </div>

      <div class="form-group">
        <label for="job_time">Time</label>
        {{form.job_time(class_="form-control", type="time")}}
      </div>

      <div class="form-group">
        <label for="job_address">Address</label><br>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="street_name">Street Name</label>
            {{form.job_address.street_name(class_="form-control")}}
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="suburb">City / Suburb</label>
            {{form.job_address.suburb(class_="form-control")}}
          </div>
          <div class="col-md-3 mb-3">
            <label for="street_name">State</label>
            {{form.job_address.state(class_="form-control")}}
          </div>
          <div class="col-md-3 mb-3">
            <label for="street_name">Postcode</label>
            {{form.job_address.postcode(class_="form-control")}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{form.notes(class_="form-control")}}
      </div>

      <div class="submit-button">
        <button type="submit" class="btn btn-primary"> Create </button>
      </div>      
    </form>
  </div>

{% endblock %}